<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Asar Ramofh Ltd.</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto+Condensed&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a08eb5b7e4.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- <link rel="stylesheet" href="css/mediaQueries.css"> -->
</head>

<body>
    <header class="mainHeader">
        <img id="asarramofh-logo" alt="asaramofh logo" src="img/logo new.png" alt="">
        <nav>
            <ul class="mainNavList">
                <li>
                    <div class="dropDown">
                        Services
                        <div class="services-menu">
                            <ul>
                                <li>Tax Advisory</li>
                                <li>Tax Advisory</li>
                                <li>Tax Advisory</li>
                                <li>Tax Advisory</li>
                            </ul>
                        </div>

                    </div>
                </li>
                <li id="no-drop">Softwares
                    <div class="services-menu">
                        <ul>
                            <li>Acccounting</li>
                            <li>HR Management</li>
                            <li>Payroll</li>
                        </ul>
                    </div>
                </li>
                <li>About Us</li>
                <li>Contact Us</li>
                <!-- <li></li> -->
            </ul>
        </nav>

    </header>
    <div class="lineUnderHeader">
    </div>
    <main>
        <section class="banner">
            <div class="slideOne">
                <div id="caption">
                    <h2>DO MORE
                        <br> BY DOING
                        LESS</h2>
                </div>
            </div>
        </section>

        <section class="intro">
            <article>
                <header>
                    <h2>Know Us</h2>
                </header>
                <p>
                    Contemporary businesses continuously seek better ways to fulfill their core mandates and efficiently
                    manage the other non-core functions of their operations.

                    They look for simple and convenient ways to meet the regulatory and compliance requirements
                    associated with their industry.

                    ASAR RAMOFH understands this need and makes it possible with our range of tailored Business Support
                    Service options.We provide seamless solutions that afford businesses the ability to focus and
                    enhance their value.</p>
            </article>
            <img src="img/know-us.jpeg" alt="">
        </section>

        <section class="clientProfiles">
            <header>
                <h2>Client Profiles</h2>
            </header>
            <section class="clientProfBoxes">
                <article class="clientbox" id="clientOne">
                    <img src="img/large.jpg" alt="">
                    <div>
                        <h2 class="firstH1">SMEs</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, eveniet possimus laboriosam
                            beatae
                            ea unde magnam porro facilis, debitis corrupti illum natus laborum! </p>
                        <button class="seeMore">See More</button>
                    </div>
                </article>
                <article class="clientbox" id="clientOne">
                    <img src="img/large.jpg" alt="">
                    <div>
                        <h2>SMEs</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, eveniet possimus laboriosam
                            beatae
                            ea unde magnam porro facilis, debitis corrupti illum natus laborum! Eveniet voluptate dicta
                            natus est veniam? Voluptates.</p>
                        <button class="seeMore">See More</button>
                    </div>

                </article>
                <article class="clientbox" id="clientOne">
                    <img src="img/large.jpg" alt="">
                    <div>
                        <h2>SMEs</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, eveniet possimus laboriosam
                            beatae
                            ea unde magnam porro facilis, </p>
                        <button class="seeMore">See More</button>
                    </div>

                </article>
                <article class="clientbox" id="clientOne">
                    <img src="img/large.jpg" alt="">
                    <div>
                        <h2>SMEs</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, eveniet possimus laboriosam
                            beatae
                            ea unde magnam porro facilis, debitis corrupti illum natus laborum!
                        </p>
                        <button class="seeMore">See More</button>
                    </div>

                </article>
            </section>
        </section>
        <section class="parentLogo">
            <h2>Statutory Agencies</h2>
            <section class="partnerLogos">
                <i id="leftCaret" class="fas fa-angle-left fa-2x"></i>
                <div class="logos">
                    <img src="img/partner_logos/coat_of_arms.png" alt="">
                    <img src="img/partner_logos/energy_com.png" alt="">
                    <img src="img/partner_logos/ghana_revenue.jpg" alt="">
                    <img src="img/partner_logos/Ghana_Immigration_Service_logo.jpg" alt="">
                    <img src="img/partner_logos/gipc.jpg" alt="">
                    <img src="img/partner_logos/minerals-commission-logo.jpg" alt="">
                    <img src="img/partner_logos/petroleum_com.png" alt="">
                    <img src="img/partner_logos/reg_gen.jpg" alt="">
                    <img src="img/partner_logos/rgd.png" alt="">
                    <img src="img/partner_logos/ssnit.jpg" alt="">
                </div>
                <i id="rightCaret" class="fas fa-angle-right fa-2x"></i>
            </section>

        </section>
        <section class="newsletter">
            <header>
                <h2>Subscribe to Our Newsletter</h2>
            </header>
            <div class="newsLetterForm">
                <input type="text">
                <button>Subscibe</button>
            </div>
        </section>
        <footer>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <p>© Asar Ramofh, 2019</p>
        </footer>
    </main>
    <!-- <h2 class="sampleH1">ahaasa</h2> -->


    <script src="js/main.js"></script>
</body>

</html>